###########################################################
##################### Configuracoes gerais#################
###########################################################

### Paths #################################################

# Path com os scripts da sua aplicação. Uma pasta antes da public_html
APP_CODE_PATH_HOST=~/Documents/Sites/laravel6/

# Escolha o caminho de armazenamento em sua máquina. 
DATA_PATH_HOST=~/Documents/mysql-data

# Pasta opcional para facilitar a sincronização de arquivos locais com os containers.
# Tudo que estiver nessa pasta em sua máquina será sincronizado com  /var/dowload dentro dos containers
DOWNLOAD_PATH_HOST=~/Downloads


### APACHE ################################################
APACHE_HOST_HTTP_PORT=80
APACHE_HOST_HTTPS_PORT=443


### MYSQL ################################################
MYSQL_ROOT_PASSWORD=131313